body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu-toggle {
    /* Estilos para el botón de menú */
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#categorias.oculto {
    display: none;
}

#boton-idioma {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#boton-idioma img {
    height: 30px;
    /* Ajusta esto según tus necesidades */
    width: auto;
}


#categorias {
    text-align: center;
    padding: 20px;
}

#productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 10px; /* Reducido de 20px para mayor espacio interior */
    position: static;
    width: calc(100% - 20px); /* Calcula el ancho considerando el padding */
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    margin: 0 auto; /* Ajustado para eliminar margen superior e inferior */
    box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho y alto */
}

@media (max-width: 600px) {
    #productos {
        width: 100%;
        margin: 10px 0; /* Reducido de 20px para evitar espacio excesivo en dispositivos pequeños */
    }

    .producto {
        margin: 10px; /* Margen reducido para pantallas pequeñas */
    }
}

.producto {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 10px;
    padding: 10px; /* Espaciado interno ajustado */
    margin: 10px; /* Margen reducido */
    font-family: 'Raleway', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 120px; /* Altura mínima para mostrar contenido */
    flex-direction: column;
    box-sizing: border-box; /* Incluye padding en la altura y ancho total */
}

.nombre-producto {
    font-size: 1.2em;
    font-weight: 700;
}

.precio-producto {
    font-size: 1em;
    font-weight: 400;
    color: #f1c40f;
}

.producto:hover {
    transform: translateY(-3px);
    /* Elevación al pasar el mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra más prominente */
}

#carrito-icono {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    border-radius: 50%;
    padding: 15px;
    /* Aumentado para una mejor interacción */
    cursor: pointer;
}

#contador-carrito {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #c50000;
    border-radius: 50%;
    padding: 5px 5px;
    /* Ajustado para mejor visibilidad */
    font-size: 14px;
    /* Aumentado para móviles */
}

#detalle-carrito {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 90%;
    /* Ajustado para móviles */
    max-width: 300px;
    /* Limita el tamaño en dispositivos más grandes */
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: none;
}

#detalle-carrito.oculto {
    display: none;
}

#detalle-carrito.visible {
    display: block;
}

#lista-carrito li {
    list-style-type: none;
    padding: 5px 0;
}

#vaciar-carrito {
    background-color: #c50000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    #categorias {
        flex-direction: column;
    }

    .categoria-btn {
        width: 100%;
        /* Botones ocupan todo el ancho */
        margin: 5px 0;
        /* Menor separación entre botones */
    }

    #carrito-icono {
        bottom: 10px;
        /* Posición más baja para evitar superposición */
        right: 10px;
    }

    #detalle-carrito {
        bottom: 60px;
        /* Espacio adicional para el ícono del carrito */
    }
}


.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 15px;
    margin-top: 10px;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}